#root {
    --primary-color: #26B24B;
}

.app {
    background-image: url(/trustlypay_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: auto;
}

.app::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.playfair-display {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 32px;
}

.manrope {
    font-family: Manrope;
    font-weight: 700;
}

.initial-screen {
    padding: 14px 24px;
}

.sidebar-main {
    display: flex;
    min-height: calc(100vh - 80px);
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main {
    width: 100%;
    background-color: #11110F;
    padding: 18px 24px;
    border-radius: 18px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.font-size-32 {
    font-size: 32px;
}

.sub-route-items {
    display: flex;
    gap: 24px;
}

.sub-route {
    background-color: var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 12px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.sub-page-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.light-green-switch.ant-switch:not(.ant-switch-checked) {
    background-color: #6EB83D !important;
    border-color: #6EB83D !important;
}

.flex-gap-8px {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}