#root {}

.app {
    background-image: url(/trustlypay_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white
}