#root {
    --primary-color: #26B24B;
}

.app {
    background-image: url(/trustlypay_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.app::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.playfair-display {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 32px;
}

.manrope {
    font-family: Manrope;
    font-weight: 700;
}

.initial-screen {
    padding: 14px 24px;
}

.sidebar-main {
    display: flex;
    height: calc(100vh - 80px);
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main {
    width: 100%;
    background-color: #11110F;
    padding: 18px 24px;
    border-radius: 18px;
    display: flex;
    gap: 18px;
    flex-direction: column;
    overflow: auto;
}

.font-size-32 {
    font-size: 32px;
}

.sub-route-items {
    display: flex;
    gap: 24px;
}

.sub-route {
    background-color: var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 12px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.main-content-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.light-green-switch.ant-switch:not(.ant-switch-checked) {
    background-color: #6EB83D !important;
    border-color: #6EB83D !important;
}

.display-flex {
    display: flex;
}

.flex-gap-8px {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.scrollbar {
    --sb-track-color: #232E33;
    --sb-thumb-color: var(--primary-color);
    --sb-size: 3px;
}

.scrollbar::-webkit-scrollbar {
    width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    .scrollbar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.form-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
}

.manrope-24 {
    font-family: Manrope;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.playfair-display-24 {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.display-flex-justify-content-center {
    display: flex;
    justify-content: center;
}